---
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
import headerImage from "../assets/header-image.png";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Hampton Roads DevFest | May 31st, 2024 | Virginia Beach, VA</title>
    <link href="/dist/index.css" rel="stylesheet" />

    <script src="https://js.tito.io/v2/with/inline" async></script>
  </head>
  <body
    class="flex flex-col items-center justify-center min-h-screen bg-gray-100 text-gray-900"
  >
    <div class="w-full max-w-2xl p-4">
      <Image src={headerImage} alt="Hampton Roads DevFest" class="mx-auto" />
      <h1 class="mt-6 text-3xl font-bold text-center">
        Hampton Roads DevFest 2024
      </h1>
      <p class="mt-2 text-xl text-center">
        May 31st, 2024 - Virginia Beach, VA
      </p>

      <script type="text/javascript" src="https://sessionize.com/api/v2/pzokysfy/view/GridSmart"></script>
      <div class="mb-56">&nbsp;</div>
    </div>
    <footer
    class="fixed inset-x-0 bottom-0 bg-gray-800 text-white text-center py-3"
    style="z-index: 1000;"
  >
    <p>
      Hampton Roads DevFest is presented by RevolutionVA, a 501c3
      organization.
    </p>
  </footer>
  </body>
</html>
